
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
    <a class="play-button" href="~/studentInformation/addStudent">Add new student</a>
    <a class="play-button" href="~/studentInformation/toEditInformationStudent">Edit student information</a>
