<section class="site-section element-animate">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="images/img_1.jpg" alt="Image placeholder" class="img-fluid">
                        <a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span class="ion-ios-play"></span></a>

                        <!-- <a href="https://vimeo.com/45830194" class="button popup-vimeo" data-aos="fade-right" data-aos-delay="700"><span class="ion-ios-play"></span></a> -->

                    </figure>
                </div>
            </div>
            <div class="col-md-6 order-md-1">

                <div class="block-15">
                    <div class="heading">
                        <h2>Welcome to University</h2>
                    </div>
                    <div class="text mb-5">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quibusdam nisi eos accusantium eligendi velit deleniti nihil ad deserunt rerum incidunt nulla nemo eius molestiae architecto beatae asperiores doloribus animi.</p>
                    </div>
                    <p><a href="#" class="btn btn-primary reverse py-2 px-4">Read More</a></p>

                </div>

            </div>

        </div>

    </div>
</section>
<!-- END section -->
