<section class="site-section element-animate">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="~/images/FCI.jpg" alt="Image placeholder" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=d4Bm7a_pTMM" class="play-button popup-vimeo"><span class="ion-ios-play"></span></a>
                        <video controls="controls" src="https://www.youtube.com/watch?v=d4Bm7a_pTMM" frameborder="0" allowfullscreen class="play-button popup-vimeo"></video>
                     
                    </figure>
                </div>
            </div>
            <div class="col-md-6 order-md-1">

                <div class="block-15">
                    <div class="heading">
                        <h2>Welcome to Assiut University</h2>
                    </div>
                    <div class="text mb-5">
                        <p>The College of Computers and Information aspires to be a leading educational research institution in the field of computing and community development in light of international quality standards</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- END section -->
